<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 class="">Whoops!</h1>
        <h2 class="">Something goes wrong</h2>
        <h2 class="">Please, write into technical support about this problem</h2>
        <h2 class="">Technical support: danylo.sribnyi@gmail.com</h2>
    </hgroup>
</body>
</html>
