@using System.Web.Mvc.Html

@helper PrintCards(IEnumerable<CardFile.Web.Models.CardViewModel> cards)
{
    <div class="container-fluid row gy-4">
        @foreach (var card in cards)
        {
            <div class="col-3">
                <div class="card shadow">
                    <div class="card-header bg-dark">
                        <h5 class="card-title text-white">
                            @card.Title
                        </h5>
                    </div>
                    <div class="card-body card-height">
                        <p class="">
                            @card.Text.Substring(0, 250)...
                        </p>
                    </div>
                    <div class="card-footer bg-dark d-flex justify-content-start align-items-center">
                        <a href="/Cards/Details/@card.Id" align="center" class="btn btn-outline-light px-5">
                            Details
                        </a>
                        <div class="ml-3">
                            <a href="/Cards/Like" class="text-white text-decoration-none"><span class="likes">♥</span> @card.LikeAmount</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

